* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body {
    font-family:'Inter',sans-serif;
    background-color: rgba(254, 232, 208);
}
.container {
    max-width: 1200 px;
    min-height: 130px;
    width: 90%;
    margin: 0 auto;
}

a {
    text-decoration: none;
}
h2, h3 {
    margin:10px;
}
/*Header*/
header {
    height: 150px;
    display:flex;
}
.logo{
    min-height: 150px;
    min-width: 150px;
    background-color: aquamarine;
}
.logo > img {
    height: 150px;
}
.titulo > h1 {
    margin:50px 20px;
    font-size: 56px;
}
.titulo {
    color:rgba(255, 130, 2);
}
.menu {
    min-width: 140px;
    padding: 20px;
    border-radius: 10px;
    border: 3px solid rgb(254, 171, 89);
}
.lista {
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
}
.lista> a {
    padding: 10px 20px;
    background-color:rgba(255, 130, 2);
    border-radius: 15px;
    color: white;
    font-weight: 700;
    transition: 0.2s ease-in;
}
a:hover {
    background-color:rgb(189, 94, 0);
}

.blog{
    margin-top:20px;
}
h2{
    font-size: 46px;
}
h3{
    font-size:32px;
}

.ingredientes > ul{
    list-style-type:circle;
    margin-left: 20px;
    margin-bottom: 100px;
}
img{
    width: 100%;
    height: auto;
}
.elaboracion {
    margin-top:100px;
}
.elaboracion > p {
    margin: 20px 0;
}
.video{
    width: 350px;
    height: 350px;
    display: block;
    margin: 0 auto;
}
.audio {
    display: block;
    margin: 0 auto;
}
footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 50px;
    
}
.gif {
    border-radius: 25%;
    width: 80px;
    height: auto;
}
footer > p {
font-size: 14px;
font-style: italic;
}
@media(min-width: 768px) {

    .contenido-principal{
        display: flex;
        flex-direction: row;
    }
    .lista{
        flex-direction: column;
        gap:10px
    }
    .blog{
        margin-left: 20px;
    }
    picture > img {
        width: auto;
    }
    .contenido{
        display:flex;
        gap:20px
    }
    .elaboracion {
        margin:0;
    }
    .video{
        width: 400px;
        height: auto;
        display: block;
        margin: 0 auto;
    }
    .titulo > h1{
        margin-left:100px
    }
}
@media(min-width: 1100px) {
    body{
        font-size: 20px;
    }
  picture > img {
        width: 600px;
    }
    .menu{
        min-width: 180px;
    }
    .contenido{
        justify-content: space-between;
    }
    .ingredientes{
        margin: left 40px;
    }

}
