* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body {
    font-family:'Inter',sans-serif;
    background-color: rgb(248, 236, 211);
}
.container {
    max-width: 1200 px;
    min-height: 130px;
    width: 90%;
    margin: 0 auto;
}

a {
    text-decoration: none;
}
/*Header*/
header {
    background-color: aliceblue;
    height: 150;
    display:flex;
}
.logo{
    min-height: 150px;
    min-width: 150px;
    background-color: aquamarine;
}
.titulo > h1 {
    margin:50px 20px;
}
.titulo {
    color:blue
}
@media (min-width: 768px) {
    .contenido-principal{
        display: flex;
    }
}
.menu {
    min-width: 140px;
}
footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 50px;
    
}
.gif {
    border-radius: 25%;
    width: 80px;
    height: 80px;
}
footer > p {
font-size: 14px;
font-style: italic;
}
